/* 主背景色 */
.bg-main {
	background-color: rgb(92, 204, 132);
}
/* 主文字色 */
.text-main {
	color: rgb(92, 204, 132);
}

.bg-main-hover{
	background-color: #4bc175;
}
.bg-main-disabled{
	background-color: #7be09f;
}

/* 分割线 */
.divider {
	height: 15rpx;
	background-color: #f5f5f3;
}


/* logincss */
.bg-login {
		height: 220rpx;
		background-image: linear-gradient(120deg,#84f9b2 0%,#8ed3f3 100%);
	}
	.back-icon {
		position: fixed;
		top: 0;
		left: 0;
		width: 100rpx;
		height: 100rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 100;
	}
	.login {
		position: absolute;
		top: 200rpx;
		left: 0;
		right: 0;
		border-top-left-radius: 30rpx;
		border-top-right-radius: 30rpx;
		background-color: #fff;
		padding: 60rpx 70rpx 0 70rpx;
	}
	.login .title {
		font-size: 22px;
		margin-bottom: 50rpx;
		color: #35404b;
	}
	.login .login-form {
		position: relative;
		align-items: center;
		margin-bottom: 50rpx;
	}
	.login .login-form .uni-icons {
		position: absolute;
		top: 0;
		left: 0;
		width: 100rpx;
		height: 100rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #272727;
	}
	.login .login-form input {
		height: 100rpx;
		padding-left: 100rpx;
		padding-right: 20rpx;
		background-color: #f5f5f5;
	}
	.login .login-button {
		height: 100rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		border-radius: 10rpx;
	}
	.login .weixinLogin {
		border: 1px solid rgb(92, 204, 132);
		padding: 20rpx;
		border-radius: 50%;
	}
	/* logincss */